@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;1,400;1,500&display=swap");

* {
  font-family: "Roboto", sans-serif;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: #e5e5e5;
}

.header {
  position: fixed;
  height: 69px;
  width: 100%;
  z-index: 3;
  top: 0;
  left: 0;
  background: #ec362d;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.logo {
  display: flex;
  justify-content: center;
  margin-left: 550px;
  margin-top: 13px;
  height: 46px;
  width: 176px;
  font-size: 32px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  color: #ffffff;
}

.main {
  display: flex;
  flex-direction: column;
}

.quizzes-user {
  width: 1051px;
  height: 181px;
  margin-top: 15%;
  margin-left: 10%;
  background: #fafafa;
  border: 1px dashed #d5d5d5;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.naoCriou {
  width: 250px;
  height: 107px;
  text-align: center;
  font-style: normal;
  font-weight: 400;
  font-size: 90%;
  line-height: 23px;
  color: #b9b9b9;
  padding-bottom: 3%;
  padding-top: 4%;
}

.btn-criar {
  width: 136px;
  height: 40px;
  background: #fafafa;
  border: 1px dashed #ec362d;
  border-radius: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-style: normal;
  font-weight: 400;
  font-size: 90%;
  color: #ec362d;
  margin-bottom: 5%;
  padding: 3px;
}

.quizzes-site {
  width: 80%;
  height: 38%;
  margin-top: 6%;
  margin-left: 10%;
  padding-top: 2%;
  padding-bottom: 6%;
}

.h2 {
  width: 200px;
  height: 50px;
  line-height: 5%;
  font-weight: 700;
  font-size: 20px;
  margin-bottom: 2%;
  display: flex;
}
.h2 button {
  width: 200x;
  height: 50px;
  line-height: 5%;
  font-weight: 700;
  font-size: 20px;
}
.icons {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.quizz-icon {
  width: 340px;
  height: 181px;
  padding-left: 10px;
  padding-right: 1%;
  padding-left: 1%;
  margin-top: 1%;
  position: relative;
  display: inline-block;
}

.quizz-icon img {
  width: 340px;
  height: 181px;
  border-radius: 5px;
  cursor: pointer;
  background: linear-gradient(
      180deg,
      rgba(255, 255, 255, 0) 0%,
      rgba(0, 0, 0, 0.5) 65.62%,
      rgba(0, 0, 0, 0.8) 100%
    ),
    url(https://cdn.cloudflare.steamstatic.com/steam/apps/1172470/header.jpg?t=1646676032)
      no-repeat center / cover;
}

.texto {
  width: 301px;
  height: 54px;
  position: absolute;
  font-size: 19px;
  color: black;
  z-index: 2;
  bottom: 2%;
  left: 5%;
  font-weight: 500;
  line-height: 22px;
  color: #ffffff;
  text-shadow: 1px 1px 2px black;
}

.quizz-user2 {
  width: 80%;
  height: 30%;
  margin-top: 15%;
  margin-left: 10%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.addicon {
  font-size: 120%;
  color: #ec362d;
  padding-left: 2%;
}

img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

button {
  cursor: pointer;
  border: inherit;
  background-color: inherit;
}

strong {
  font-weight: bold;
}

/* aqui termina tela de lista de quizzes*/

/* FORMULÁRIO */
/* informações gerais */
.main2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.header-forms {
  position: fixed;
  display: flex;
  text-align: center;
  justify-content: center;
  top: 20%;
  height: 3%;
  width: 21%;
}

.box-info-geral {
  position: fixed;
  top: 30%;
  width: 58%;
  height: 28%;
  background: #ffffff;
  border-radius: 4px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.05);
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.inputbox {
  width: 97%;
  min-height: 20%;
  background: #ffffff;
  border: 1px solid #d1d1d1;
  box-sizing: border-box;
  border-radius: 5px;
  font-style: italic;
  color: black;
}

.btn-prosseguir {
  position: fixed;
  width: 26%;
  padding: 1%;
  min-height: 6%;
  top: 68%;
  border-radius: 15px;
  background-color: #ec362d;
  color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 86%;
}

/* PERGUNTAS */
.main3 {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-top: 10%;
  margin-bottom: 1%;
}

.container2 {
  width: 58%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  margin-bottom: 3%;
}

.box-perguntas {
  width: 58%;
  padding: 1%;
  margin-top: 3%;
  background: #ffffff;
  border-radius: 4px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.05);
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  z-index: 2;
}

/*NIVEIS*/
.main4 {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-top: 12%;
}

.nivel {
  margin: 2% 0 2% 0;
}

/*QUIZZ ESTÁ PRONTO*/

.main5 {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-top: 12%;
}

.box-img {
  height: 23%;
  width: 33%;
  padding-right: 1%;
  padding-left: 1%;
  margin-top: 5%;
  margin-bottom: 5%;
  position: relative;
  display: inline-block;
}

.texto-fim {
  position: absolute;
  font-size: 100%;
  z-index: 2;
  bottom: 4%;
  left: 5%;
  font-weight: 500;
  line-height: 25px;
  color: #ffffff;
  text-shadow: 1px 1px 2px black;
}

.home {
  margin-top: 1%;
  color: #818181;
}

/* GERAL */

p {
  font-weight: 700;
  font-size: 92%;
}

.hidden {
  display: none;
}

.static {
  position: static;
}

.behind {
  z-index: 0;
}

@media (max-width: 1100px) {
  .main {
    width: 100%;
    display: flex;
  }

  .header {
    max-width: 100%;
    height: 10%;
  }
  .logo {
    font-size: 150%;
    margin-left: 50%;
  }
  .body {
    max-width: 100%;
  }
  .icons {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .quizz-icon {
    width: 100%;
    height: 30%;
  }
  .quizz-icon img {
    width: 100%;
    height: 30%;
  }

  .h2 {
    width: 90%;
    height: 40%;
    line-height: 50%;
    font-weight: 700;
    font-size: 150%;
  }
  .h2 button {
    font-size: 100%;
  }
  .quizzes-user {
    width: 100%;
    height: 90%;
    margin-top: 15%;
  }
  .naoCriou {
    width: 100%;
    height: 50%;
  }
}